importFrom("Rglpk", "Rglpk_solve_LP")

importFrom("multiway", "parafac")

importFrom("graphics", "abline", "plot", "points", "legend", "par")

importFrom("stats", "predict", "sd")

importFrom("utils", "combn")

S3method(plot, lpda)
S3method(print, lpda)
S3method(predict, lpda)
S3method(print, predict.lpda)
S3method(summary, lpda)
S3method(print, summary.lpda)
S3method(print, lpdaCV)

S3method(plot, lpda.3D)
S3method(print, lpda.3D)
S3method(predict, lpda.3D)
S3method(print, predict.lpda.3D)
S3method(summary, lpda.3D)
S3method(print, summary.lpda.3D)

export(lpda, lpda.fit, lpda.pca, PCA, stand, stand2, lpdaCV, lpda.3D, lpdaCV.3D)

